.update-cart-btn {
  width: 30px;
  height: 30px;
  align-items: center;
  align-content: right;
}

.remove-product-btn {
  width: 30px;
  height: 30px;
  background-color: white;
  border: none;
}

.product-info-text {
  font-size: 1.25rem;
}

.product-old-price {
  color: gray;
  text-decoration: line-through;
}

.total {
  color: #E2002B;
}

.order-card {
  height: auto;
  border-radius: 8px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
}

/* Order Button */
.order-btn.btn-lg {
  width: 100%;
  display: inline-block;
  background-color: #E2002B;
  font-size: 1.25rem;
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.order-btn.btn-lg:hover {
  background-color: red;
  /* Darker shade of blue on hover */
}

/* Link Style */
.order-card a,
.empty-card a {
  display: inline-block;
  margin-top: 16px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.order-card a:hover {
  text-decoration: underline;
}
