/* External CSS File */
.btn-filter {
  background-color: #E2002B;
    color: white;
    border-color: #E2002B;
}

.filter-card {
  border-radius: .375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
}

.filter-card-body {
  padding: 1rem;
}

.filter-card-title {
  font-weight: bold;
  margin-bottom: .5rem;
}

.filter-input-group {
  margin-bottom: 1rem;
}

.filter-form-check {
  margin-bottom: .5rem;
}

.filter-card-divider {
  margin: 1rem 0;
  border-top: 1px solid #dee2e6;
}

/* Ensure the btn-group-toggle does not exceed its parent */
.filter-btn-group-toggle {
  width: 100%;
  /* Adjust as needed */
}

/* Style for individual radio buttons */
.filter-btn-group-toggle.btn {
  display: block;
  /* Make each button appear on a new line */
  width: 100%;
  /* Take full width */
  white-space: normal;
  /* Allow text to wrap */
}

/* Optional: Remove the right margin on the last button for cleaner look */
.filter-btn-group-toggle.btn:last-child {
  margin-right: 0;
}

.card {
  height: 440px;
  overflow: hidden;
  padding: .5rem;
  border-radius: .25rem;
  margin-bottom: 1.5rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  font-size: 1.25rem;
  margin-bottom: .5rem;
  transition: max-width 0.3s ease-in-out;
  /* Smooth transition for expanding content */
}

.card-price {
  font-size: 1.25rem;
  color: #E2002B;
  margin-right: 0.5rem;
  margin-bottom: 0;
}

.card-old-price {
  font-size: 1.25rem;
  margin-right: 0.5rem;
  margin-bottom: 0;
  color: gray;
  text-decoration: line-through;
}

.star {
  color: yellow;
  margin-bottom: 0;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  margin-bottom: 0;
  transition: max-width 0.3s ease-in-out;
  /* Smooth transition for expanding content */
}

.addToCartBtn {
  background-color: #E2002B !important;
  border-color: #E2002B !important;
  color: white !important;
  width: 100%;
}

.btn:hover {
  color: #fff;
}

.input-text {
  border-radius: 5%;
}

.input-text:focus {
  border-color: #E2002B;
  box-shadow: 0px 0px 0px;
  outline: 0px;
}

.search-icon {
  width: 30px;
}

.card:hover {
  cursor: pointer;
}

.card a {
  color: inherit;
  text-decoration: none;
  display: block;
}

/* Pagination styling */
.pagination {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

.pagination .page-item {
  list-style: none;
  margin: 0 5px;
}

.pagination .page-link {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.pagination .page-item.active .page-link {
  background-color: #E2002B;
  color: white;
  border-color: #E2002B;
}

.pagination .page-link:hover {
  background-color: #e0e0e0;
}
