/* src/public/stylesheets/style.css */
.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  color: #000;
}

.main-header {
  background-color: #fff;
  border-bottom: 1px solid #000;
}

.header-logo {
  height: 80px;
  width: auto;
}

.header-height{
  height: 106px;
}

.header-avatar{
  height: 40px;
  width: auto;
}

.nav-text{
  color: #000 !important;
  font-weight: bold !important;
}

.nav-text:hover {
  color: red;
}
