/* src/public/stylesheets/style.css */
.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  color: #000;
}

.main-header {
  background-color: #fff;
  border-bottom: 1px solid #000;
}

.header-logo {
  height: 80px;
  width: auto;
}

.header-height{
  height: 106px;
}

.header-avatar{
  height: 40px;
  width: auto;
}

.nav-text{
  color: #000 !important;
  font-weight: bold !important;
}

.nav-text:hover {
  color: red;
}

:root {
  --main-bg-color: #212121;
  /* Black */
  --main-text-color: #D32F2F;
  /* Red */
  --second-text-color: #CCCCCC;
  /* Light Gray */
  --second-bg-color: #F5F5F5;
  /* Background Light Gray */
}

.primary-text {
  color: var(--main-text-color) !important;
}

.second-text {
  color: var(--second-text-color) !important;
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.red-bg {
  background-color: #D32F2F;
}

#user-nav-bar a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

#user-nav-bar .active {
  color: var(--main-text-color) !important;
  border-bottom: 2px solid var(--main-text-color);
}
