<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= t('title.notFound') %>
  </title>
  <script src="/scripts/slim.min.js"></script>
  <script src="/scripts/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  <link rel="icon" href="/images/kfc-logo.jpg" type="image/jpeg">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 align-items-center justify-content-center">
        <img src="/images/404.gif" class="w-100" alt="404">
      </div>
    </div>
  </div>
</body>

</html>
